// Container & Breakpoints
@use "sass:math";
$containerWidth: 1200;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint992: 991.98+px;
$breakpoint768: 767.98+px;
$breakpoint480: 479.98+px;
$breakpoint1450: 1449.97+px;

// Burger Menu 
$burgerBreakpoint: $breakpoint992;
$burgerActiveColor: 'white';

// Colors
$primary: #646A89;
$primaryDark:#1A2578;
$secondary:#BF0830;
$neutral:#17449C;
$white: #ffff;
$black: #000; 

// Burger Menu 
$burgerBreakpoint: $breakpoint992;
$burgerActiveColor: 'white';

// Fonts
$fontMain: 'Montserrat', 'DM Sans';
$fontSecondary: '';