// Global SCSS imports
@import './vars';
@import './reset';
@import './global';
@import './adaptive';
// Sections SCSS files imports
@import './header.scss';
// @import './footer';

.sec-1 {
    margin-top: 35px;
    &__block {
        position: absolute;
        left: 0;
        top: 270px;
        background: #154444;
        width: 620.53px;
        height: 469.92px;
        padding: 74px 41px 74px 120px;
    }
    &__title {
        font-weight: 700;
        font-size: 56px;
        line-height: 68px;
        color: #FFFFFF;
    }
    &__txt {
        padding-top: 30px;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: #FFFFFF;
    }
    &__bg{
      margin-left: auto;
      background: url(../img/sec-1.png) ;
      width: 972px;
      height: 700px;
    background-repeat: no-repeat;
    }

}

.sec-2{
 margin-top: 140px;
    // .block-list__title

    &__title {
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        color: #244D4D;
        text-align: center;
    }

    // .block-list__wrap

    &__wrap {
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
        gap: 90px;
    }

    // .block-list__item

    &__item {
    }
}
.sec-3{
    margin-top: 150px;
  
    &__wrap{
      display: flex;
      justify-content: space-between;
    }
    &__about{
        width: 488px;
    }
 
    &__about-points{
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        gap:30px ;
    }
    &__about-block{
        display: flex;
        gap: 23px;
    }
    &__about-icons{
        align-self: flex-start;
    }
    &__bg{
      width: 596px;
      height: 577px;
      background-image: url(../img/sec-3-bg.png);
        background-repeat: no-repeat;
    }
}
.sec-4{
  margin-top: 140px;
}

.slide{
  position: relative;
  &__line{
    margin-top: 80px;
  
  }
  &__card{
    background: #FFFFFF;
    box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.07);
    width: 380px;
    height: 382.31px;
   
  }
  &__img{
    width: 100%;
  }
  &__content{
    display: flex;
    justify-content: space-between;
    padding: 30px 24px 27px 24px;
  }
  &__price{
    padding-top: 20px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #154444;
  }
  &__links{
    display: flex;
    flex-direction: column;
    gap: 26px;
  }
  &__links-block{
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  &__links-img{
    padding: 10px;
    background:#ECF4FF ;
    border-radius: 50%;
    &:hover{
        background: #EF5423;
    }
  }

  &__btn{
    position: absolute;
    top: 80px;
    right: 0;
    display: flex;
    gap: 10px;
  }
  &__swiper-btn{

    padding: 10px;
    background: #ECF4FF;
    border-radius: 50%;;
  }
}

.sec-5 {
  margin-top: 140px;
  // .sec-5__list

  &__list {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 100px;
  }

  // .sec-5__item

  &__item {
  

  }

  // .sec-5__item-link

  &__item-link {
    position: relative;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 27px;
    color: #919090;
    padding-bottom: 5px;
    &--active{
      color: #154444;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        top: 36px;
        width: 60px;
        left: 44px;
        height: 2px;
        background: #154444;
      }
    }
  }

  &__wrap {
    padding-top: 50px;
    display: flex;
    gap: 147px;
  }

  &__bg {
    background-image: url(../img/sec-5.png);
    width: 552.84px;
    height: 389.32px;
  }

  &__block-list {
   columns:  2;
  column-gap: 34px;
  }


  &__block-item {
    border: 1.5px solid #D9DCE5;
    padding: 28px 82px 16px 82px ;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover{
      background: #154444;
      transform: scale(1);
      transition: 0.5s linear;
      a{
        color: #FFFFFF;
      }
    }

    img{
      width: 24px;
      height: 24px;
    }
    a{
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
    width: 100px;
    padding-top: 24px;
    color: #808080;
  }
    &--active{
      background: #154444;
      a{
        color: #FFFFFF;
      }
    }
    
  }


}
.sec-6 {
  margin-top: 140px;
  // .sec-6__wrap

  &__wrap {
    display: flex;
    gap: 80px;
  }

  // .sec-6__bg

  &__bg {
    background-image: url(../img/sec-6-bg.png);
    background-repeat: no-repeat;
    width: 600px;
    height: 550px;
  }

  // .sec-6__content

  &__content {
    align-self: center;
    width: 529.77px;
  }

  // .sec-6__review

  &__review {
    padding-top: 44px;
    display: flex;
    gap: 10px;
  }

  // .sec-6__review-img

  &__review-img {
  }

  // .sec-6__review-txt

  &__review-txt {
    align-self: center;
  }

  // .sec-6__review-name

  &__review-name {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }

  // .sec-6__review-mark

  &__review-mark {
    position: relative;
    padding-top: 6px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    &::before{
      content: url(../img/stars.png);
      position: absolute;
      left: -1px;
      top: 3px;
         
    }
  }
}

.sec-7 {
 margin-top: 140px;
  &__wrap {
    background: #305F64;
    padding: 65px 328px 53px 317px ;
    display: flex;
   flex-direction: column;
   align-items: center;
   h2{
    width: 550px;
   }
   p{
    width: 584px;
    text-align: center;
   }
  }

  // .sec-7__form

  &__form {
   margin-top: 50px;
   width: 471.98px;
   left: 478.01px;
   top: 4297.71px;
   background: #FFFFFF;
   border-radius: 10px;
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   padding: 8px 15px 10px 18px;
   color: rgba(127, 127, 127, 0.66);
   display: flex;
   justify-content: space-between;
  }
  &__form-email{
    display: flex;
    gap: 15px;
   align-self: center;
    }
    
    

  
  &__btn{
     color: #FFFFFF;
    background: #FFB624;
    border-radius: 10px;
    padding: 15px 30px;
    &:hover{
      background: #eb9e04;
    }
  }
}
.footer {
  margin-top: 140px;
  background: #305F64;
  padding-top: 80px ;
  // .footer__wrap

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  // .footer__block

  &__block {
    display: flex;
    flex-direction: column;
  }

  // .footer__title

  &__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
 
  }

  // .footer__txt

  &__txt {
    padding-top: 30px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    &--size{
      width: 337px;
    }
    &--size-second{
      width: 220px;
    }
  }

  // .footer__social

  &__social {
    padding-top: 40px;
  }

  // .footer__social-list

  &__social-list {
    padding-top: 20px;
    display: flex;
    gap: 15px;
  }

  // .footer__social-img

  &__social-img {
  }

  // .footer__list

  &__list {
    padding-top: 30px;
    display: flex;
    flex-direction: column;

  }


  &__list-item {
    padding-bottom: 16px;
  }

 &__email{
    width: 253px;
    margin-top: 40px;
    display: flex;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 12px 10px 12px 22px;
  
 }
 &__inp-img{
  background: #FFB624;
  border-radius: 50%;
  padding: 8px;
  &:hover{
    background: #eb9e04;
  }
 }

}




